body {
	background-color: $color__browser;

	@include tablet-and-up {
		padding: 1.6rem 3.2rem;
	}
}

.layout {
	margin: 0 auto;
	padding: 1rem 0.8rem;
	max-width: 42rem;
	background-color: $color__page;
	box-shadow: 0 0.1rem 0.2rem $color__browser--shadow;

	@include tablet-and-up {
		padding: 1.4rem;
		border-radius: 0.4rem;
	}
}
