body {
	padding: 3.2rem 1.6rem;
	background-color: $color__browser;
}

.layout {
	margin: 0 auto;
	padding: 1.4rem;
	max-width: 42rem;
	background-color: $color__page;
	box-shadow: 0 0.1rem 0.2rem $color__browser--shadow;
	border-radius: 0.4rem;
}
