$color__browser: hsl(40, 8%, 92%);
$color__browser--shadow: hsl(40, 8%, 80%);

$color__page: hsl(40, 40%, 96%);
$color__page--shadow: hsl(40, 40%, 84%);

$color__text: hsl(40, 8%, 16%);

$color__link: hsl(200, 80%, 48%);

// background-color: rgb(37, 35, 31);
// background-color: rgb(88, 83, 78);
// background-color: rgb(139, 134, 124);
// background-color: rgb(191, 188, 172);
// background-color: rgb(242, 239, 225);
